<table>
  <tr>
  <td>
<%= form_for(:question, url: user_questions_path) do |form| %>
  <p><h3><%= image_tag(User.find(current_user.id).avatar_url, width: 80, height: 80, class: "rounded-circle")%>&nbsp;<%=t('questions.question')%> <%=t('questions.from')%> <%=current_user.name%>:</h3></p>
  <p><%=form.text_area :body, text: "", placeholder: t('questions.question_input'), :cols => 50, :rows => 12, class:"form-control"%></p>
     <%=form.hidden_field :user_id, value: current_user.id %>
  <p><%=form.submit t('user.add'), class: "btn btn-warning"%></p>
<% end %>
  </td>
  <td>&nbsp;&nbsp;&nbsp;</td>
  <td>

<p>
  <a class="btn btn-outline-warning" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    <%=image_tag("happy.png")%>
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="pickerContainer" target="question_body">

  </div>
</div>
  </td>
  </tr>
</table>
