<hr>
<table>
  <tr>
    <td><a href=<%=user_questions_path(user_id: @question.user.id)%>><%= image_tag(@question.user.avatar_url, width: 80, height: 80, class: "rounded-circle")%></a></td>
    <td>&nbsp;</td>
    <td><h3>
     <%if (user_signed_in?) && (current_user.id == @question.user.id)%>
       <%=link_to(image_tag(@question.solved? ? "ok.png" : "cancel.png", width: 25, height: 25), edit_user_question_path(id: @question.id, user_id: current_user.id), data: {"turbo-method": :get})%>
      <%else%>
        <%=image_tag(@question.solved? ? "ok.png" : "cancel.png", width: 25, height: 25)%>
      <%end%>
      <%= t('questions.question')%> №<%=@question.id%> <%=t('questions.from') %> <%= link_to(@question.user.name, user_questions_path(user_id: @question.user.id, locale: I18n.locale)) %></h3><%= @question.body %><a align="left"><br>
      <%= @question.created_at.strftime("%d.%m.%Y, %H:%M") %>
      <br><font size="4">
      <%=render 'likes/show_question_likes'%>
      </font>
      &nbsp;&nbsp;<%=image_tag('views.png')%>&nbsp;<%=@question.views%>
      </a></td>
  </tr>
</table>
<hr>
<% if (@question.answers.count != 0) %>
  <%@question.answers.each do |answer|%>
  <table>
  <tr>
    <td><a href=<%=user_questions_path(user_id: answer.user.id, locale: I18n.locale)%>><%= image_tag(answer.user.avatar_url, width: 80, height: 80, class: "rounded-circle")%></a></td>
    <td>&nbsp;</td>
    <td><h3><%=link_to(answer.user.name, user_questions_path(user_id: answer.user.id, locale: I18n.locale))%></h3><%=answer.body%><a align="left">
    <br><%=answer.updated_at.strftime("%d.%m.%Y, %H:%M")%>
    <br><font size="4">
    <%@answer = answer%>
    <%=render 'likes/show_answer_likes'%>
    </font></a></td>
  </tr>
  </table>
  <hr>
  <% end %>
<% end %>
