<hr>
<table>
  <tr>
    <td><a href=<%=user_registration_url + "/#{@question.user.id}"%>><%= image_tag(@question.user.avatar_url, width: 80, height: 80, class: "rounded-circle")%></a></td>
    <td>&nbsp;</td>
    <td><h3>
      <% if (@question.answers.count == 0) %>
        <%= image_tag("cancel.png", width: 25, height: 25) %>
      <% else %>
        <%= image_tag("ok.png", width: 25, height: 25) %>
      <% end %>
      <%= t('questions.question')%> №<%=@question.id%> <%=t('questions.from') %> <%= link_to(@question.user.name, user_registration_url + "/#{@question.user.id}") %></h3><%= @question.body %><p align="left"><%= @question.created_at.strftime("%d.%m.%Y, %H:%M") %></p></td>
  </tr>
</table>
<hr>
<% if (@question.answers.count != 0) %>
  <%@question.answers.each do |answer|%>
  <table>
  <tr>
    <td><a href=<%=user_registration_url + "/#{answer.user.id}"%>><%= image_tag(answer.user.avatar_url, width: 80, height: 80, class: "rounded-circle")%></a></td>
    <td>&nbsp;</td>
    <td><h3><%=link_to(answer.user.name, user_registration_url + "/#{answer.user.id}")%></h3><%=answer.body%><p align="left"><%=answer.updated_at.strftime("%d.%m.%Y, %H:%M")%></p></td>
  </tr>
  </table>
  <hr>
  <% end %>
<% end %>
