<% unless @q.count == 0
  @q.each do |i|
%>
    <table>
      <tr>
        <%if (i.answer_user_id ==-1)%>
          <td><%= image_tag("cancel.png") %></td>
        <%else %>
          <td><%= image_tag("ok.png") %></td>
        <%end %>
        <td><h3><%=link_to "Вопрос №#{i.id}", question_path(i.id)%> от <%=User.find(i.user_id).email%></h3></td>
      </tr>
    </table>
<%=i.body%>
<p>Создан: <%=i.created_at%></p>
<hr color="green">
<%end%>
<%else%>
  <h2>Нет вопросов</h2>
  <hr color="green">
<%end %>
<h2><%=link_to "Добавить новый вопрос", "/questions/new" %></h2>