<% unless @q.count == 0 %>
  <h3>Новые вопросы:</h3>
<%@q.each do |i|%>
    <table>
      <tr>
        <%if (Answer.where(question_id: i.id).count == 0)%>
          <td><%= image_tag("cancel.png") %></td>
        <%else %>
          <td><%= image_tag("ok.png") %></td>
        <%end %>
        <hr>
        <td><h3><%=link_to "Вопрос №#{i.id}", question_path(i.id)%> от <%=link_to User.find(i.user_id).name, "/users/#{User.find(i.user_id).id}"%></h3></td>
      </tr>
    </table>
<%=i.body%>
<p>Создан: <%=i.created_at.strftime("%d.%m.%Y, %H:%M")%></p>
    <hr>
<%end%>
<%else%><hr>
  <h2>Нет вопросов</h2>
  <hr color="green">
<%end %>
<%=button_to "Добавить новый вопрос", new_question_path, method: :get, class: "btn btn-warning"%>