<h1>Добавить новый вопрос</h1>
<hr>
<%if user_signed_in? %>
  <%=form_for :post, url: questions_path do |f|%>
    <p><h3><%=current_user.name%>:</h3></p>
    <p><%=f.text_area :body, :cols => 50, :rows => 5%></p>
    <p><%=f.submit "Добавить", class: "btn btn-warning"%></p>
  <% end %>
<% else %>

  <h2>Для добавления вопросов необходимо авторизироваться.</h2>
<% end %>
<hr color="green">
<%=button_to "Главная страница", questions_path, method: :get, class: "btn btn-warning"%>