<h1>Вопрос № <%=@q.id%>, пользователь: <%=@q.user_id%></h1>
<h3><%=@q.body%></h3>
<h3>Создан: <%=@q.created_at%></h3>
<%=button_to "Удалить вопрос", question_path(@q.id), method: :delete%>
<hr color="green">
<h2><%=link_to "Вернуться ко всем вопросам", questions_path%></h2>