<table>
  <hr>
  <tr>
    <td><%= image_tag("user.png") %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>Пользователь:<h3><%=User.find(params[:id]).name%></h3>Дата регистрации:<br><h3><%=User.find(params[:id]).created_at.strftime("%d.%m.%Y")%></h3></td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>Электронная почта:<h3><%=User.find(params[:id]).email%><%= image_tag("ok.png") %></h3>Страна:
      <h3>
        <%if User.find(params[:id]).country == "Российская Федерация" || User.find(params[:id]).country == "Россия"%>
          🇷🇺
          <%end %>
        <%if User.find(params[:id]).country == "Республика Беларусь"%>
          🇧🇾
        <%end %>
        <%=User.find(params[:id]).country%>
      </h3></td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>
      <%if (user_signed_in?  && current_user.id == User.find(params[:id]).id)%>
        <a href=<%=edit_user_registration_path%>><%= image_tag("edit.png", width: 32, height: 32) %></a>
        <%end %>

    </td>
  </tr>
</table><hr>
<h3>Вопросы, заданные пользователем:</h3>
  <hr color="green">

<% unless @q.count == 0
     @q.each do |i|
%>

    <table>
      <tr>
        <%if (Answer.where(question_id: i.id).count == 0)%>
          <td><%= image_tag("cancel.png") %></td>
        <%else %>
          <td><%= image_tag("ok.png") %></td>
        <%end %>
        <td><h3><%=link_to "Вопрос №#{i.id}", question_path(i.id)%> от <%=User.find(i.user_id).name%></h3></td>
      </tr>
    </table>
    <%=i.body%>
    <p>Создан: <%=i.created_at.strftime("%d.%m.%Y, %H:%M")%></p>
    <hr color="green">
  <%end%>
<%else%>
  <h2>Нет вопросов</h2>
  <hr color="green">
<%end %>
<%=button_to "Главная страница", questions_path, method: :get, class: "btn btn-warning"%>