<%if user_signed_in? %>
<table>
  <hr>
  <tr>
    <td><%= image_tag("user.png") %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>Пользователь:<h3><%=User.find(params[:id]).name%></h3>Дата регистрации:<br><h3><%=User.find(params[:id]).created_at.strftime("%d.%m.%Y")%></h3></td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>Электронная почта:<h3><%=User.find(params[:id]).email%><%= image_tag("ok.png") %></h3>Страна:<h3>Российская Федерация</h3></td>

  </tr>
</table><hr>
<h3>Вопросы, заданные пользователем:</h3>
  <hr color="green">
<%else%>
  <table>
    <tr>
      <td><%= image_tag("autorisated.png") %></td>
      <td><h3>Пользователь: <%=User.find(params[:id]).name%>, id:(<%=params[:id]%>)</h3></td>
      <td><%= image_tag("ok.png") %></td>
      <td><h3>Зарегистрирован: <%=User.find(params[:id]).created_at%></h3></td>
    </tr>
  </table>
  <h3>Вопросы, заданные пользователем:</h3>
  <hr color="green">
<%end%>
<hr color="green">
<% unless @q.count == 0
     @q.each do |i|
%>

    <table>
      <tr>
        <%if (i.answer_user_id ==-1)%>
          <td><%= image_tag("cancel.png") %></td>
        <%else %>
          <td><%= image_tag("ok.png") %></td>
        <%end %>
        <td><h3><%=link_to "Вопрос №#{i.id}", question_path(i.id)%> от <%=User.find(i.user_id).name%></h3></td>
      </tr>
    </table>
    <%=i.body%>
    <p>Создан: <%=i.created_at.strftime("%d.%m.%Y, %H:%M")%></p>
    <hr color="green">
  <%end%>
<%else%>
  <h2>Нет вопросов</h2>
  <hr color="green">
<%end %>
<h2><%=link_to "Вернуться ко всем вопросам", questions_path%></h2>