<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


  <table>
    <hr>
    <tr>
      <td><%= image_tag("user.png") %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>Пользователь:<br><%= f.text_field :name, autofocus: true%><br>Дата регистрации:<br><%=User.find(current_user.id).created_at.strftime("%d.%m.%Y")%></td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>Электронная почта:<br><%= f.email_field :email, autofocus: true, autocomplete: "email" %><br>Страна:<br><%= f.text_field :country%></td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>Текущий пароль:<br><%= f.password_field :current_password, autocomplete: "current-password" %><br>Новый пароль: (необязательно)<br><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
    </tr>
  </table><hr>
  <table>
    <tr>
      <td><%= f.submit "Сохранить изменения", class: "btn btn-warning"%></td>
<% end %>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><%=button_to "Главная страница", questions_path, method: :get, class: "btn btn-warning"%></td>
    </tr>
  </table>


