<hr>
<h2><%="#{t('devise.login_form.autorization')}"%></h2><br>
<div style="width: 300px;">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%=image_tag("user.png", class: "rounded-circle", align: "top", id: "user-avatar", width: 120, height: 120)%>
  <h4 align="center" id="user-name"><br></h4>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %><br>
  <div class="field" style="width: 300px;">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "user-email", class:"form-control", data: {url_path: user_info_path}%>
    <p></p>
  </div>

  <div class="field" style="width: 300px;">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
    <p></p>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me, class: "form-check-input" %>
      <%= f.label :remember_me %>
    </div>
    <p></p>
  <% end %>

  <div class="actions">
    <%= f.submit t('application.log_in'), class: "btn btn-warning"%>
  </div>
<% end %>
<hr>
